{% extends "base.html.twig" %}

{% block body %}
<div class="container mt-4">
<h2 class="text-center" >Tout les posts</h2>
{% for post in posts %}
<div class="row py-2">
        <ul class="list-unstyled ">
            <li>Titre:{{post.title ? post.title|slice(0,10)}}-{{post.id}}</li>
        </ul>
        <article>
           <p>{{post.body ? post.body|slice(0,200)~'...' : 'Pas de description'}}</p> 
        </article>
    <a class="btn btn-primary pull-right" href="{{path('pages.show',{id:post.id})}}">Read More</a>
</div>    
{% endfor %}
</div>


{% endblock %}